# Environment variables
.env

# Google credentials
*.json

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Database and models
data/*.db
models/*.pkl

# Logs
logs/

# OS files
.DS_Store
Thumbs.db

# Test and coverage artifacts
.pytest_cache/
coverage.xml
htmlcov/

# Jupyter notebooks
.ipynb_checkpoints/
.idea/
.vscode/
ailivetradproject-493118-b0d73313d507.json
trading doc.docx
.env
